$max-block-width: 250px;
$transaction-contract-call: #46B29D;
$transaction-contract-stakeManager: #3575dd;
$transaction-contract-splytManager: #E68346;
$transaction-contract-assetManager: #D4463C;
$transaction-contract-orderManager: #a7fb40;
$transaction-contract-arbitrationManager: #fbe734;
$transaction-contract-reputationManager: #7903f7;
